# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v2
      with:
        node-version: '18.x'
    
    - name: Install dependencies Front
      run: cd front && npm install

    - name: Test front
      run: cd front && npm run build

    - name: Install dependencies Back
      run: cd back && npm install

    - name: Add .env
      run: touch back/.env
      run: echo "BASE_HOST: ${{ env.BASE_HOST }}" >> back/.env
      run: echo "BASE_PORT: ${{ env.BASE_PORT }}" >> back/.env
      run: echo "BASE_USER: ${{ env.BASE_USER }}" >> back/.env
      run: echo "BASE_PASS: ${{ env.BASE_PASS }}" >> back/.env
      run: echo "BASE_BASE: ${{ env.BASE_BASE }}" >> back/.env

    - name: Run test back
      run: cd back && npm run test
